<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Meneruskan header Authorization ke PHP
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
    
    # Jika Anda menggunakan FastCGI
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
</IfModule>